body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #fffdeb
}

h1 {
	text-align: center;
}

.container {
}

.contact-info {
	text-align: center;
}

#receipt-input {
	padding: 5%;
}

#receipt-input .form-group {
	padding: 5%;
}

.receipt-output {
	margin-left: 10%;
}

.priceandquantity {
	display: inline-block;
}

#thanks {
	text-align: center;
}

.itemList {
	padding-left: 5%;
	color: red;
}

