body {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #fffdeb
}

h1 {
	text-align: center;
}

.container {
}

.contact-info {
	text-align: center;
}

#receipt-output {
	display: inline-block;
	float: center;
	padding-left: 35%;
}

.priceandquantity {
	display: inline-block;
}

#thanks {
	text-align: center;
}

.itemList {
	color: red;
}

